.background_image {
  height: 100vh;
  background-image: url("UMC\ 뭔가\ 간지나는\ 배경1\ 2.svg");
  background-size: cover;
}

.border_box {
  border: 1px solid rgb(255, 255, 255);
  opacity: 0.6;
  color: rgb(240, 237, 237);
  background-color: rgb(204, 203, 202);
  width: 300px;
  border-radius: 10px;
  position: absolute;
  left: 33%;
  bottom: 35%;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 20px;
}

.login_text {
  text-align: center;
}

.content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}

button {
  padding: 10px;
  text-align: center;
  padding-left: 90px;
  padding-right: 90px;
  border-radius: 8px;
  color: white;
  background-color: rgb(62, 60, 60);
  margin-top: 20px;
  border: none;
}

.input_pas {
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  width: 213px;
  background-color: rgb(204, 203, 202);
  margin-top: 20px;
  border-bottom-color: white;
}

.input_id {
  border-right: 0px;
  border-top: 0px;
  border-left: 0px;
  width: 213px;
  background-color: rgb(204, 203, 202);
  border-bottom-color: white;
}

.input_id::placeholder {
  color: white;
}

.input_pas::placeholder {
  color: white;
}

a {
  color: white;
  text-decoration-line: none;
}

.bottom {
  margin-top: 40px;
}
