body {
    background-image: url('img.svg');
    background-size: 100%;
}

/* main Page */

#App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loginForm {
    background-color: #93959F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 200px;
    border-radius: 15px;
}

#loginForm > h1 {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    font-size: 2.5em;
}

#loginForm > input {
    background-color: #93959F;
    color:white;
    width: 80%;
    border: 0;
    border-bottom: 1px white solid;
    margin: 20px;
    margin-bottom: 0;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input::placeholder {
    color: white;
}

#loginBtn {
    width: 80%;
    height: 50px;
    font-size: 20px;
    color:white;
    background-color: #353535;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
}

.signIn > button {
    border: 0;
    background: none;
    font-size: 15px;
    cursor: pointer;
}

/* sign In */

#signIn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#signInForm {
    background-color: #93959F;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 200px;
    border-radius: 15px;
}

#signInForm > h1 {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 10px;
    margin-top: 0;
    border-bottom: 1px solid white;
    font-size: 40px;
}

label {
    color: white;
    width: 82%;
    text-align: left;
    font-size: 1.1rem;
}

#signInForm > input {
    color: white;
    border: 1px white solid;
    border-radius: 5px;
    background-color: #93959F;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.inputMsg {
    width:82%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 12px;
    visibility: hidden;
}

#signInBtn {
    width: 60%;
    height: 50px;
    font-size: 20px;
    color:white;
    background-color: grey;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal {
    border-radius: 15px;
    background-color: white;
    width: 30%;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

}

.modal > h1 {
    text-align: center;
    font-size: 2.5rem;
}

.modal > p {
    text-align: center;
    font-size: 1.5rem;
}

.close-wrapper {
    text-align: right;
}

#closeBtn {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}