.root-wrap {
    font-size: 25px;
    list-style: none;
  
    position: relative;
    display: list-item;
    flex-basis: 0;
    flex-wrap: wrap;
    justify-content: left;
    text-align: space-between;
    margin: 15px;
  }